	          //######################################
            //
            //   split_fastq
            //
            //######################################
            withLabel: gdc_fastq_splitter {
                container = "${params.nf_home}/singularity_img/gdc_fastq_splitter_v0.0.1.sif"
                cpus = 3
                errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
                memory = {12.GB * task.attempt}
                time = "72h"
            }
            withLabel: r_for_split_fastq {
                container = "${params.nf_home}/singularity_img/rbase_v4.1.0.2.cafr.sif"
                cpus = 2
                errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
                memory = {12.GB * task.attempt}
                time = "24h"
            }
