##################################################################################
##
## Variables setting
##
##################################################################################

project_name='test_split_fastq'
profile_name='singularity'
step='split_fastq'
use_fscratch='false'
rm_temp_bam='false'
dna_input_format='fastq'
rna_input_format=''
dna_pairs_manifest_sheet='false'
dna_legacy_file_sheet='/home/mary/HL-NF/manifest/test_nf_dna_fastq.csv'
dna_analysis_bam_sheet='false'
other_nxf_args='false'
dna_sra_sheet='false'
rna_legacy_file_sheet=''
genome='GRCh37'
genome_base='/home/mary/HL-NF/references/GRCh37'
storage_base='/mnt/NAS2/home/mary/HL-NF'
resume='-resume'
testrun='false'
nf_home='/home/mary/HL-NF'
email='nyj990613@gmail.com'
